body {
  font-family: "Nunito Sans";
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

ul,
li {
  list-style-type: none;
  padding-left: 0;
}
