.review__text {
    width: 496px;
    height: 108px;  
    line-height: 150%;
    color: #1f1f1f;
}

.review__title {
    left: calc(50% - 476px/2);
    top: 0px;
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 100%;
    padding: 80px 483px;
    color: #FC640C;
}

.section-review {
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
    align-items: center;
}

.name {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    color: #1F1F1F;
}

.card {
    display: flex;
    width: 628px;
    height: 153px;
    gap: 32px;
    align-items: center;
}

.card-list {
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
}